<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-body">
                <h2 class="card-title">Experiencia Laboral</h2>
                <div *ngFor="let item of experienciaLaboral">
                    <h4>Rol: {{item.rol}}</h4>
                    <p>Comercio: <span>{{item.comercio}}</span></p>
                    <p>Email: {{item.email}}</p>
                    <p>Dirección: <span>{{item.direccion}}</span></p>
                    <p>Fecha: {{item.fecha}}</p>
                </div>
                    
                   
            </div>
        </div>
    
    </div>
</div>