<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-body">
                <h2 class="card-title">Experiencia Laboral</h2>
                <p class="card-text"><h4>Atención al público, repositora, control de stock, manejo de caja</h4>
                    <p>Comercio: <span>Valu</span></p>
                    <p>Email: javier2131@gmail.com</p>
                    <p>Dirección: <span>Gobernador Tello 1750</span></p>
                    <p>09/06/2015 - actualidad</p>
                    <h4>Elaboración y venta de repostería/pastelería (a pedido)</h4>
                    <p>Email: kgiselle90@gmail.com</p>
                    <h4>Mucama en hospedajes por día</h4>
                    <p class="card-text"> <p>Lugar:<span>Departamentos Valu</span></p>
                    <p>Email: mariela_hesquel@gmail.com</p>
                    <p>08/06/2019 - actualidad</p>
            </div>
        </div>
    
    </div>
</div>