<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-body">
                <h2 class="card-title">Experiencia Laboral</h2>
                    <h4>Rol: {{experienciaLaboral.rol}}</h4>
                    <p>Comercio: <span>{{experienciaLaboral.comercio}}</span></p>
                    <p>Email: {{experienciaLaboral.email}}</p>
                    <p>Dirección: <span>{{experienciaLaboral.direccion}}</span></p>
                    <p>Fecha: {{experienciaLaboral.fecha}}</p>
                    <h4>Rol: {{experienciaLaboral.rol}}</h4>
                    <p>Comercio: {{experienciaLaboral.comercio}}</p>
                    <h4>Rol: {{experienciaLaboral.rol}}</h4>
                    <p>Comercio:<span>{{experienciaLaboral.comercio}}</span></p>
                    <p>Email:{{experienciaLaboral.email}}</p>
                    <p>Dirección {{experienciaLaboral.direccion}}</p>
            </div>
        </div>
    
    </div>
</div>