<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-body">
                <h2 class="card-title">Proyecto Prácticas Profecionalizantes</h2>
                <p class="card-text"> <p>ESC - 713</p>
                <p>Estudiante:<span> Lucia Naylin Guala Hernández</span></p>
                <p>Email:<span>gualalucia27@gmail.com</span></p>
                <p>Año: <span>2023</span></p>
                <p>Tecnologías: <span> HTML, CSS, JAVASCRIPT, PHP, MYSQL</span></p>
                <img src="./assets/loogo713.png"  ALT ="logo 713" width="200" height="200">

            </div>
        </div>
    
    </div>
</div>