<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-body">
                <h2 class="card-title">Perfil Pofecional</h2>
                <p class="card-text"> Me considero una persona responsable, organizada y creativa.
                    Cuento con una muy buena capacidad de resolución de preoblemas.
                    Me gusta trabajar individualmente y en equipos, ya que de estos puedo aprender de los distintos puntos de vista.
                </p>
            </div>
        </div>
    
    </div>
</div>